body {
  font-family: Arial;
  background: white;
  text-align: center;
}

/* title */
.titulo {
  color: purple;
}

.titulo-jogo {
  color: purple;
}

/* button */
button {
  background: yellow;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

/* esconder telas */
.hidden {
  display: none;
}

/* top */
.topo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#pontos {
  color: green;
}

/* words */
#palavras {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.palavra-box {
  background: #ccffcc; /* verde claro */
  color: #006600;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  border: 1px solid #99cc99;
}

/* grid */
#grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  gap: 3px;
  justify-content: center;
}

.letra {
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  cursor: pointer;
}

/* selection */
.selecionada {
  background: yellow;
}

.correta {
  background: #ffff99;
}

.menu-container {
  position: relative;
}

.menu-icon {
  cursor: pointer;
  font-size: 20px;
}

.menu-drop {
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.menu-drop button {
  background: yellow;
  border: none;
  padding: 8px;
  cursor: pointer;
}